@use "../../Abstracts" as *

.container__navigation
    @include flex-container
.avatar
    width: 40px
    border-radius: 8px
.material-symbols-outlined
    font-size: rem(36)
.searchbar
    min-width: 300px
