<div class="container__navigation">
  <div class="container__searchbar">
    <input
      class="searchbar"
      type="text"
      placeholder="{{ searchPlaceholder }}"
    />
    <span class="material-symbols-outlined">search</span>
  </div>
  <div class="container__nav-buttons">
    <div class="container__notification">
      <span class="material-symbols-outlined">notifications</span>
    </div>
    <div class="container__settings">
      <img class="avatar" src="/assets/avatar.png" alt="Avatar" />
      <span class="material-symbols-outlined">expand_more</span>
    </div>
  </div>
</div>
