<div class="container__menu">
  <div class="container__logo">
    <img class="logo" src="/assets/odevo-logo.png" alt="Odevo logo" />
    <h1 class="odevo">{{ logoText }}</h1>
  </div>

  <div class="container__notification">
    <span class="material-symbols-outlined">notifications</span>
  </div>
  <div class="container__notification">
    <span class="material-symbols-outlined">notifications</span>
  </div>
  <div class="container__notification">
    <span class="material-symbols-outlined">notifications</span>
  </div>
  <div class="container__notification">
    <span class="material-symbols-outlined">notifications</span>
  </div>
  <div class="container__notification">
    <span class="material-symbols-outlined">notifications</span>
  </div>

  <div class="container__notification">
    <span class="material-symbols-outlined">notifications</span>
  </div>
</div>
