@use "../../Abstracts" as *

.container__menu
    background-color: $primary-black
    color: #fff
.material-symbols-outlined
    font-size: rem(36)
    color: white
.logo
    width: 80px
    filter: invert(1)
.odevo
    font-weight: 300
    letter-spacing: 1.4px
