<div
  class="container__new-task task {{
    task.addedToCalendar ? 'added-to-calendar' : ''
  }} {{ task.read ? 'read' : '' }}"
  *ngFor="let task of store.tasks; let i = index"
  (click)="markTaskAsRead(i)"
>
  <div class="new-task__text">
    <div class="new-task__info">
      <div class="task-head">
        <h3 class="brf">{{ task.brf }}</h3>
        <button class="resolve-btn" (click)="markTaskAsResolved(i)">
          Mark as resolved
        </button>
      </div>
      <p class="description">
        {{ task.description }}
      </p>
    </div>
    <div class="extra-info">
      <div class="contact">
        <p>
          {{ task.contact }}
        </p>
      </div>
      <div class="date-added">
        <p>{{ currentDate | date: "fullDate" }}</p>
      </div>
    </div>
  </div>

  <div class="new-task__icons">
    <div class="calendar">
      <span
        id="calendar-icon"
        class="material-symbols-outlined"
        (click)="addToCalendar(i)"
        >{{ task.addedToCalendar ? "event_available" : "calendar_today" }}</span
      >
    </div>
    <div class="task-type">
      <img class="task-type__img" src="{{ tagSource }}" alt="Tag" />
    </div>
  </div>
</div>
