<div class="container__new-task">
  <div class="new-task__text">
    <div class="new-task__info">
      <h3 class="name">Brf Olskroken</h3>
      <p class="info">
        “The laundry room for stairwell 2B has been experiencing a leak since
        yesterday coming fr...”
      </p>
    </div>
    <div class="extra-info">
      <div class="contact">
        <p>Contact: Alex Skarsgård</p>
      </div>
      <div class="date-added">
        <p>Added: 2022-07-11</p>
      </div>
    </div>
  </div>

  <div class="new-task__icons">
    <div class="calendar">
      <span class="material-symbols-outlined">calendar_today</span>
    </div>
    <div class="task-type">
      <img
        class="task-type__img"
        src="/assets/water-tag2.png"
        alt="Water tag"
      />
    </div>
  </div>
</div>
