<div class="grid-container">
  <app-menu id="menu-component"></app-menu>
  <app-welcome-message id="welcome-message-component"></app-welcome-message>
  <app-task-tracking id="task-tracking-component"></app-task-tracking>
  <app-stats id="stats-component"></app-stats>
  <app-navigation id="navigation-component"></app-navigation>
  <app-report-issue id="report-issue-component"></app-report-issue>
  <div id="upcoming-tasks-component" style="background-color: gray"></div>
</div>

<!-- Router -->
<router-outlet></router-outlet>
