@use "abstracts" as *

.grid-container
    padding: rem(10)

// Grid
@media only screen and (min-width: 768px)
    #welcome-message-component
        grid-area: welcome
    #task-tracking-component
        grid-area: tasks
    #menu-component
        grid-area: menu
    #navigation-component
        grid-area: nav
    #report-issue-component
        grid-area: report
    #stats-component
        grid-area: stats
    #upcoming-tasks-component
        grid-area: upcoming
    .grid-container
        display: grid
        height: 100vh
        grid-template-areas: "menu welcome nav" "menu welcome report" "menu tasks upcoming" "menu stats upcoming"
        grid-gap: rem(10)
        grid-template-columns: 1fr 2fr 2fr
        grid-template-rows: 1fr 2fr 2fr 10fr
