<div class="grid-container">
  <div id="menu-component" style="background-color: gray"></div>
  <app-welcome-message id="welcome-message-component"></app-welcome-message>
  <div id="task-tracking-component" style="background-color: gray"></div>
  <div id="stats-component" style="background-color: gray"></div>
  <app-navigation id="navigation-component"></app-navigation>
  <app-report-issue id="report-issue-component"></app-report-issue>
  <div id="upcoming-tasks-component" style="background-color: gray"></div>
</div>

<!-- Router -->
<router-outlet></router-outlet>
