<div class="grid-container">
  <app-navigation id="navigation" class="component"></app-navigation>
  <app-welcome-message
    id="welcome-message"
    class="component"
  ></app-welcome-message>
  <app-report-issue id="report-issue" class="component"></app-report-issue>
  <app-task-tracking id="task-tracking" class="component"></app-task-tracking>
  <app-stats id="stats" class="component"></app-stats>
  <!-- <app-upcoming-tasks id="upcoming-tasks"></app-upcoming-tasks> -->
  <app-menu id="menu"></app-menu>
</div>
