<div class="container__report-issue">
  <div>
    <h3 class="title">{{ title }}</h3>
    <p class="subtitle">{{ subtitle }}</p>
  </div>
  <div>
    <button class="report-issue-btn" (click)="toggleForm(); openTooltip()">
      <span class="material-symbols-outlined"> add </span>
    </button>
  </div>
  <div class="tooltip" *ngIf="!isTooltipRead">
    <p>
      Want to report an issue? Press the button above and fill out the form!
    </p>
    <button class="tooltip-btn" (click)="openTooltip()">Got it!</button>
    <img src="/assets/lightbulb.png" alt="Lightbulb" />
  </div>
</div>

<!-- Issue Reporting Form -->
<form
  class="container__form {{ formVisible ? '' : 'hide-form' }}"
  (submit)="reportIssue()"
>
  <div>
    <h3 class="title">{{ prompt }}</h3>
  </div>
  <div class="container__input">
    <input
      class="form-input"
      type="text"
      name="inputBrf"
      placeholder="Brf"
      [(ngModel)]="inputBrf"
    />
    <input
      class="form-input"
      type="text"
      name="inputDescription"
      placeholder="Description of the issue"
      [(ngModel)]="inputDescription"
    />
    <input
      class="form-input"
      type="text"
      name="inputContact"
      placeholder="Full name"
      [(ngModel)]="inputContact"
    />
    <input type="submit" value="{{ report }}" class="submit-btn" />
  </div>
</form>
