<div class="container__report-issue">
  <div>
    <h3 class="title">{{ title }}</h3>
    <p class="subtitle">{{ subtitle }}</p>
  </div>
  <div class="container__welcome-img">
    <button class="report-issue-btn">
      <span class="material-symbols-outlined"> add </span>
    </button>
  </div>
</div>

<!-- Issue Reporting Form -->
<form class="container__form" (submit)="reportIssue()">
  <div>
    <h3 class="title">{{ prompt }}</h3>
  </div>
  <div class="container__input">
    <input
      class="form-input"
      type="text"
      name="inputBrf"
      placeholder="Brf"
      [(ngModel)]="inputBrf"
    />
    <input
      class="form-input"
      type="text"
      name="inputDescription"
      placeholder="Description of the issue"
      [(ngModel)]="inputDescription"
    />
    <input
      class="form-input"
      type="text"
      name="inputContact"
      placeholder="Full name"
      [(ngModel)]="inputContact"
    />
    <input type="submit" value="{{ report }}" class="submit-btn" />
  </div>
</form>

<!-- Added tasks -->
<div
  *ngFor="let task of store.tasks; let i = index"
  class="container__new-task task {{
    task.addedToCalendar ? 'added-to-calendar' : ''
  }} {{ task.read ? 'read' : '' }}"
  (click)="markTaskAsRead(i)"
>
  <div class="new-task__text">
    <div class="new-task__info">
      <div class="task-head">
        <h3 class="brf">{{ task.brf | titlecase }}</h3>
        <button class="resolve-btn" (click)="markTaskAsResolved(i)">
          Mark as resolved
        </button>
      </div>
      <p class="description">
        {{ task.description }}
      </p>
    </div>
    <div class="extra-info">
      <div class="contact">
        <p>Contact: {{ task.contact | titlecase }}</p>
      </div>
      <div class="date-added">
        <p>{{ currentDate | date: "fullDate" }}</p>
      </div>
    </div>
  </div>

  <div class="new-task__icons">
    <div class="calendar">
      <span
        id="calendar-icon"
        class="material-symbols-outlined"
        (click)="addToCalendar(i)"
        >{{ task.addedToCalendar ? "event_available" : "calendar_today" }}</span
      >
    </div>
    <div class="task-type">
      <img class="task-type__img" src="{{ tagSource }}" alt="Tag" />
    </div>
  </div>
</div>

<div *ngFor="let task of store.tasks">
  <div>{{ task.brf }}</div>
  <div>{{ task.description }}</div>
  <div>{{ task.contact }}</div>
</div>
