<div class="container__report-issue">
  <div>
    <h3 class="title">{{ title }}</h3>
    <p class="subtitle">{{ subtitle }}</p>
  </div>
  <div class="container__welcome-img">
    <button class="report-issue-btn">
      <span class="material-symbols-outlined"> add </span>
    </button>
  </div>
</div>

<div class="container__form">
  <div>
    <h3 class="title">{{ prompt }}</h3>
  </div>
  <div class="container__input">
    <input class="form-input brf" type="text" placeholder="Brf" />
    <input
      class="form-input description"
      type="text"
      placeholder="Description of the issue"
    />
    <input class="form-input contact" type="text" placeholder="Full name" />
    <button class="submit-btn">{{ report }}</button>
  </div>
</div>

<div class="container__temp-tasks">
  <div
    class="task {{ task.completed ? 'done' : '' }}"
    *ngFor="let task of tasks; let id = index"
  >
    <div class="id">Issue: #{{ id + 1 }}</div>
    <div class="content">{{ task.content }}</div>
    <button class="delete">Mark as resolved</button>
  </div>
</div>
