<div class="container__menu">
  <div class="container__logo">
    <img class="logo" src="/assets/odevo-logo-white.png" alt="Odevo logo" />
    <h1 class="odevo">{{ logoText }}</h1>
  </div>

  <div class="container__page-links">
    <a routerLinkActive="active" routerLink="/home" class="link__dashboard"
      ><div class="link">
        <span class="material-symbols-outlined">dashboard</span>
        <p>{{ dashboard }}</p>
      </div></a
    >
    <a routerLink="/team"
      ><div class="link">
        <span class="material-symbols-outlined">group</span>
        <p>{{ team }}</p>
      </div></a
    >
    <a routerLinkActive="active" routerLink="/tasks" class="link__tasks"
      ><div class="link">
        <span class="material-symbols-outlined">task</span>
        <p class="pseudo-anchor">{{ tasks }}</p>
      </div></a
    >
    <a routerLink="/statistics"
      ><div class="link">
        <span class="material-symbols-outlined">monitoring</span>
        <p>{{ statistics }}</p>
      </div></a
    >
    <a routerLink="/settings"
      ><div class="link">
        <span class="material-symbols-outlined">settings</span>
        <p>{{ settings }}</p>
      </div></a
    >
  </div>

  <div class="link logout-link">
    <span class="material-symbols-outlined">logout</span>
    <p>{{ logOut }}</p>
  </div>
</div>
